body {
    background-color: black;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    color: white;
    text-align: center;
}


.mainheader {
    /* background-color: rgb(170, 255, 0); */
    background: radial-gradient(rgb(175, 255, 14), yellow);
    margin-bottom: 50px;
}

.headertext {
    text-align: center;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Odibee Sans';
    color: black;
    padding: 10px;
    padding-left: 170px;
}

#searchbox {
    float:right;
    margin-top: 70px;
    margin-right: 10px;
    padding: 5;
    position: right;
    width: 150px;
}

.navbar {
    overflow: hidden;
    background-color: rgb(170, 255, 0);
    margin-bottom: 10px;
  }
  
.nav-element {
    float: left;
    font-size: 16px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.icon {
    float:right;
    margin-right:15px;
    margin-top: 7px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit; /*  for vertical align on mobile phones */
    margin: 0; /* for vertical align on mobile phones */
  }

.dropdown {
    float: left;
    overflow: hidden;
}

.nav-element:hover, .dropdown:hover .dropbtn {
    background-color: rgb(218, 255, 143);
}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(218, 255, 143);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown*/
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /*Add a grey background color to dropdown links on hover*/
  .dropdown-content a:hover {
    background-color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 

.intro-pic {
    float: left;
    text-align: center;
    width: 75%;
    margin-bottom: 60px;
}

#opening-image {
    width:100%;
}

#side {
    text-align: left;
    float: right;
    width: 23%;
    color: white;
    background-color: palevioletred;
}

    #side > h4 {
        margin-left: 10px;
    }

.list-item {
    margin-right: 10px;
}

#release-date {
    font-weight: bold;
}


.intro-vid {
    clear:both;
    margin-top: 30px;
    text-align: center
}
.sub-units {
    margin-top: 60px;
    text-align: center;
}

/* .sub-units > h2 {
    float: left;
    padding: 80px;
    margin: 20px;
    width: 300px;
    color: white;
} */

.sub-units > h2 > a {
    float: left;
    padding: 80px;
    margin: 20px;
    width: 300px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

/* .sub-units > h2 > a:hover {
    color: rgba(126, 17, 74, 0.961);
} */



#onetwoseven {
    background-color: gold;
}

#onetwoseven:hover {
    /* background-color: rgba(255, 225, 52, 0.995); */
    background-image: url("../images/127-profile.jpeg");
    background-size: cover;
}

#dream {
    background-color: rgb(254, 178, 190);
}

#dream:hover {
    /* background-color: rgb(255, 206, 214); */
    background-image: url("../images/dream-profile.jpeg");
    background-size: cover;
}

#wayv {
    background-color: rgb(151, 212, 232);
}

#wayv:hover {
    /* background-color: rgb(189, 221, 232); */
    background-image: url("../images/wayv-profile.png");
    background-size: cover;
}

#u {
    background-color: cornflowerblue;
}

#u:hover {
    /* background-color: rgb(134, 169, 233); */
    background-image: url("../images/nctu-profile.png");
    background-size: cover;
}







/* .members {
    text-align: left;
}

.column {
    float: left;
    width: 33.33%;
} */

/* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

footer {
    clear: both;
    float: right;
    width: 1000px;
    margin-top: 60px;
    background-color: gainsboro;
    color:black;
    text-align: right;
}
    footer > p {
        margin: 5px;
    }

/* sub-unit pages */

/* .debut {
    margin-bottom: 100px;
} */

.group-intro {
    margin-bottom: 100px;
}

.group-name {
    font-size: 100px;
    font-weight: bolder;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.headshot {
    width: 200px;
}

.name {
    margin-top: 10px;
    font-size: 20px;
}